<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock meta %}
    <title>
      {% block title %}
        Rocket Blogger
      {% endblock title %}
    </title>
    {% block styles %}
    {% endblock styles %}
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
